<div id="<%= dom_id customer %>">
  <div class="p-2 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2">
      <h1 class="display-6 fw-bold"><%= customer.name %></h1>
      <p class="col-md-8 fs-4">
        Email: <%= customer.email %>
      </p>
    </div>
  </div>
</div>
