<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Back", customers_path, class:'btn btn-dark' %>
  <%= link_to "Edit", edit_customer_path(@customer), class:'btn btn-secondary' %>
</div>
