<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Back", orders_path, class:'btn btn-dark' %>
  <%= link_to "Edit", edit_order_path(@order), class:'btn btn-secondary' %>
</div>
